@import 'https://fonts.googleapis.com/css?family=Adamina|Muli';

body { 
	padding-top: 70px;
	background-color: #fafafa;
	font-family: 'Muli', sans-serif;
	font-size: 18px;
}

h1, h2, h3, h4 {
	text-align: center;
	color: #2F3131;
	font-family: 'Adamina', serif;
}

a {
	color:#444C5C;
}

i {
	color:#b2473e;
}

h2 { 
	display: inline-block; 
}

img {
	width: 100%
}

hr {
	display: block;
	margin: 2em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px; 
}

footer {
	text-align: center;
}

.nav {
	font-family: 'Adamina', serif;	
}

.subheader, .lead { 
	font-family: 'Muli', sans-serif; 
	color: #727077; 
}
